#Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

#Virtual Environment
venv/
env/

#jupyter notebook checkpoints
.ipynb_checkpoints

#data and models (large files)
data/
models/

#os files
.DS_Store
Thumbs.db

#IDE settings
.vscode/
.idea/
